@font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/Inter-VariableFont_slnt\,wght.ttf');
}

:root{
    --green: hsl(75, 94%, 57%);
    --White: hsl(0, 0%, 100%);
    --Grey700: hsl(0, 0%, 20%);
    --Grey800: hsl(0, 0%, 12%);
    --Grey900: hsl(0, 0%, 8%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}

html{
    font-size: 16px;
}

body{
    width: 100vw;
    min-height: 100vh;
    background-color: var(--Grey900);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-container{
    background-color: var(--Grey800);
    width: 320px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 15px;
    padding: 20px;
}

.profile{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.profile__image-container{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.profile__image{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.profile__name{
    color: var(--White);
    font-size: 1.2rem;
}

.profile__location{
    color: var(--green);
    font-size: 0.9rem;
}

.profile__profesion{
    color: var(--White);
    font-size:0.9rem;
}

.social-media{
    width: 100%;
    height: auto;
}

.social-media__list{
    width: 100%;
    height: auto;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.social-media__item{
    width: 90%;
    height: 45px;
    background-color: var(--Grey700);
    border-radius: 10px;
    text-align: center;
    display: flex;
    align-items: center;
}

.social-media__link{
    display: inline-block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: var(--White);
    line-height: 50px;
}

.social-media__item:hover{
    background-color: var(--green);
}

.social-media__item:hover a{
    color: var(--Grey900);
}

@media (max-width: 426px){
    body{
        height: auto;
    }
    .profile-container{
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .profile__profesion{
        text-align: center;
    }
}

@media (max-width: 320px){
    .profile-container{
        width: 90vw;
    }
}


